<pre>crypto_support/app_fprint</pre>

<div>
This service expects iDevice (iPhone / iPod Touch) attributes packed as a hash
named "attributes" in your request, as well as an OSX application manifest
(Info.plist). It returns an application hex_fprint over the request data. 
It's the only good way of testing ZNAppFprint in CryptoSupport, short of mocking
the attribute getter or duplicating the digest logic.
</div>

<div>
Use the following path in your unit tests:
<br />
<%= link_to h(url_for(:format => :xml, :only_path => false)),
            :format => :xml, :only_path => false %>
</div>
