<pre>imobile_support/store_receipt</pre>

<div>
This service verifies In-App Purchase receipts against Apple's web server. It
expects a 'receipt' parameter, containing the receipt NSData in the
SKPaymentTransaction, and a 'production' parameter, which should be 'true' for
production receipts and 'false' for sandbox receipts. The service can receive
multipart/form-data inputs.

The service will a JSON hash containing the key 'response', whose value is the
unpacked receipt information from Apple's servers. This is the value of the
'receipt' key in Apple's JSON response. If the receipt doesn't validate, the 
'receipt' key have the value false. If Apple's server returns a failure HTTP
code, this service returns a 500.
</div>

<div>
Use the following path in your unit tests:
<br />
<%= link_to h(url_for(:format => :json, :only_path => false)),
            :format => :json, :only_path => false %>
</div>
