<pre>imobile_support/store_receipt</pre>

<p>
This service verifies In-App Purchase receipts against Apple's web server. It
expects the following parameters:
<dl>
	<dt>receipt</dt>
	<dd>the receipt NSData in the SKPaymentTransaction</dd>
	<dt>production</dt>
	<dd><code>true</code> for production receipts and <code>false</code> for
	sandbox receipts
	</dd>
</dl>
</p>

<p>
The service can receive multipart/form-data inputs.
</p>

<p>
The response will a JSON hash containing the key <code>response</code>, whose
value is the unpacked receipt information from Apple's servers. This is the
value of the <code>receipt</code> key in Apple's JSON response. If the receipt
doesn't validate, the  <code>receipt</code> key have the value false. If Apple's
server returns a failure HTTP code, this service returns a 500.
</p>

<p>
Use the following path in your unit tests:
<pre>
<%= link_to h(url_for(:format => :json, :only_path => false)),
            :format => :json, :only_path => false %>
</pre>
</p>
